// import pre defined classes
@import "./../../shared/theme/class";

md-card {
    md-card-title {
        font-size: 16pt;
    }

    md-card-content {
        padding: 16px 0;

        md-input-container {
            margin: 8px 0;

            md-hint {
                letter-spacing: 0.04625em;
            }
        }
    }

    md-card-actions {
        padding-bottom: 16px !important;
        padding: 16px;
        margin-left: -24px;
        margin-right: -24px;
        margin-bottom: -24px !important;
        background: #F5F5F5;

        [md-button], [md-raised-button] {
            min-width: 10em;
            font-size: 9pt;
            letter-spacing: 0.09625em;
            text-transform: uppercase;
            font-weight: 400;
        }
    }
}