// import pre defined classes
@import "./shared/theme/class";

.ol-main-header {
    padding: 1em 20em;
    color: #424242;
    font-weight: 300;
    letter-spacing: 0.05625em;
}

.ol-main-content {
    padding: 0 4em;
}